.form {
	position: relative; 

	.form-input {
		border: 1px solid white;
		padding: 12px 20px;
		border-radius: 25px;
		width: 380px;
		background: transparent;
		color: darken($brand-primary, 30%);		
		font-size: 1rem;
		font-family: $heading;
		background: url('../images/arrow-forward.svg') no-repeat 385px center;
		background-size: 30px 30px;
		@include transition(background .3s ease);
		&:focus {
			outline: none;
			border-color: darken($brand-primary, 20%);
		}
			@include breakpoint(medium) {
				background-position: right center;
		 }

		
	}
	.form-input::placeholder,
	.form-input:placeholder-shown {
		color: white;
	}

	.form-submit { display: none; }
}