.hero-content {
	background: white url('../images/overlay-logo-effect.png') no-repeat bottom right;
	width: 764px;
	height: 480px;
	position: absolute;
	top: 185px;
	left: 600px;
	box-shadow: 0 10px 30px rgba(black, .1);
		@include breakpoint(medium) {
			left: 0;
			width: 100%;
			height: 100%;
			background: none;
			box-shadow: none;
			height: auto;
			top: 450px;

	 }
	
	.hero-inner {
		padding: 6rem 4rem 0 4rem;
		position: relative;
			@include breakpoint(medium) {
				padding: 2rem 1rem 0 1rem;
		 }
	}
	.hero-heading {
		margin-bottom: 0;
		position: relative;
		&:before {
			content: "";
			background: $brand-primary;
			width: 50px;
			height: 4px;
			position: absolute;
			top:-1.5rem;
			left:0;
		}
	}
	.hero-subheading {
		font-size: 1.3rem;
		line-height: 2rem;
		margin: .8rem 0;
	}
	.hero-cta-block {
		position: absolute;
		bottom: -182px;
		right:0px;
			@include breakpoint(medium) {
				position: static;
		 }
		.hero-cta {
			background: $brand-primary;
			color: white;
			display:inline-block;
			width: 303px;
			height: 70px;
			line-height: 70px;
			padding: 0 2rem;
			font-size: 1.35rem;
			border-top-left-radius: 8px;
			&:hover {
				background: lighten($brand-primary, 5%);
			}
				@include breakpoint(medium) {
					width: 100%;
					display: block;
					border-radius: 3px;
					padding: 0;
					text-align: center;
					height: 60px;
					line-height: 60px;
					margin: 1.5rem 0 0 0;
			 }
		}
		.arrow-forward {
			display: inline-block;
			fill: white;
			width: 38px;
			height: 38px;
			position: relative;
			top: .8rem;
			left: 5rem;
				@include breakpoint(medium) {
					left: 1rem;
					top: .6rem;
					width: 32px;
					height: 32px;
			 }
		}
	}
}