body {
	background-color: #F6F6F6;
	font-family: $body;
	font-size: 1.2rem;
	line-height: 2rem;
	color: $brand-secondary;
	position: relative;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

a {
	color: $brand-primary;
	text-decoration: none;
	@include transition(all .2s ease);
	&:hover {
		color: darken($brand-primary, 10%);
	}
}