body {
	background-color: #F6F6F6;
	font-family: $body;
	line-height: 1.6rem;
	font-size: 1.15rem;
	color: $brand-secondary;
	position: relative;
}

a {
	color: $brand-primary;
	text-decoration: none;
	@include transition(all .2s ease);
	&:hover {
		color: darken($brand-primary, 10%);
	}
}