.service-form {
	color: white;
	padding:0 1rem;
		@include breakpoint(medium) {
			padding: 0;
	 }

	.service-opt-in-title {
		font-size: 2.25rem;
		line-height: 2.8rem;
		margin: 0;
			@include breakpoint(medium) {
				font-size: 1.8rem;
				line-height: 2.2rem;
		 }
	}
	.service-opt-in-content p {
		margin: .5rem 0 1rem 0;
		font-size: 1.35rem;
			@include breakpoint(medium) {
				font-size: 1rem;
		 }
	}
	.service-form-content {
		background: $brand-secondary;
		padding: 3.5rem 3rem 3.5rem 3.5rem;
		position: relative;
			@include breakpoint(medium) {
				padding: 2rem;
		 }
	}

	.optin-form {

		.form-group {
			padding: .5rem 0;
			label {
				display: block;
				font-family: $heading;
				padding: 2px 0;
			}
		}
		.form-control {
			border-radius: 25px;
			border: 1px solid  white;
			background: transparent;
			padding: 10px 0 10px 20px;
			width: 96%;
			color: white;
			&:focus, &:hover {
				outline: none;
				border-color: $brand-primary;
				background: darken($brand-secondary, 5%);
			}
		}
		.form-control::placeholder {
			color: rgba(white, .8);

		}
		input[type="date"] {
			color: white;
		}
		.submit-btn {
			font-family: $body;
			font-weight: bold;
			border: 0;
			margin: 1rem 0;
			cursor: pointer;
			display: block;
			width: 100%;
		}
	}

	.service-opt-in-image {
		text-align: right;
		background: $brand-secondary;
		img {
			height: 100%;
			max-width:100%;
				@include breakpoint(medium) {
					height: auto;
					max-width: 100%;
	
			 }
		}
	}
}
