.header {
  padding: 2rem 0;
  @import "menu";
  @import "branding";
}

@import "mobile-menu";
.header-home {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  .logo-mobile .mobile-brand #markCircle {
    fill: white;
  }
}

@include breakpoint(medium) {
  .desktop-menu {
    display: none;
  }
}
