.menu {
  list-style: none;
  margin: 0;
  padding: 1rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
 
  li {
    padding: 0 1rem;
    @include transition(all ease .2s);
    &:last-of-type {
      padding-right: 0;
    }
  }
  a {
    color: $brand-secondary;
    position: relative;
    @include transition(all ease .2s);
    &:hover {
      color: lighten($brand-primary, 5%);
    }
  }
  .hire-me a {
    @include button($brand-primary);
    top: -.6rem;
  }
}
